<h2>Add Post</h2>
<div>
  <form>
    <div class="form-group">
      <label>title</label>
      <input type="text" name="title" class="form-control" #title [(ngModel)]="currentPost.title">
    </div>
    <div class="form-group">
      <label>body</label>
      <input type="text"  name="body" class="form-control" #body [(ngModel)]="currentPost.body">
    </div>
    <input type="hidden" [(ngModel)]="currentPost.id" name="id">
    <button class="form-control btn btn-dark" (click)="addPost(title.value,body.value)" *ngIf="!isEdit">add post</button>
    <button class="form-control btn btn-warning" (click)="addPost(title.value,body.value)" *ngIf="isEdit" (click)="updatePost()">update post</button>
  </form>
</div>